.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.background {
  object-fit: cover;
  opacity: 0.4;
  z-index: -2;
}

/* Mobile */
@media (max-width: 700px) {
  .center {
    padding: 8rem 0 6rem;
  }
}
